<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SYPhotoBrowserDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9CA00091CD6493F009FAD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9CAFFE51CD6493E009FAD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9CAFFFE1CD6493F009FAD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
